header {
  background-color: blue;
  width: 100%;
  height: 50px;
  }
ul {
  list-style: none;
}
li {

  color: white;
  float: left;
  padding: 10px;
}
li::after {
  contents: ""
  clear: both
}
.submit a {
  text-align: center;
}
.contact-form h1{
  text-align: center;
}
